In [1]:
import pandas
from sklearn.model_selection import KFold
import numpy as np

In [2]:
dataset = pandas.read_csv('titanic_train.csv')

In [3]:
dataset.head()

   Survived  Pclass  Sex  Age  Fare  Embarked  IsAlone  Title
0         0       3    1    1     0         0        0      1
1         1       1    0    2     3         1        0      3
2         1       3    0    1     1         0        1      2
3         1       1    0    2     3         0        0      3
4         0       3    1    2     1         0        1      1

In [4]:
X = dataset.iloc[:, [1,2,3,4,5,6, 7]]
Y = dataset.iloc[:, 0]

In [5]:
Y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [6]:
kf = KFold(n_splits=6) # Define the split - into 6 folds 
kf.get_n_splits(X) # returns the number of splitting iterations in the cross-validator
print(kf) 
KFold(n_splits=6, random_state=None, shuffle=False)

KFold(n_splits=6, random_state=None, shuffle=False)

KFold(n_splits=6, random_state=None, shuffle=False)

In [7]:
for train_index, test_index in kf.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y.iloc[train_index], Y.iloc[test_index]